body, html {
	height: 100%;
	margin: 0;
	font-family: 'Martel', serif;
	overflow: auto;
}
*,*::before,*::after{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
img{
	max-width: 100%;
	height: auto;
}
.fejlnav {
	overflow: hidden;
	background-color: #404040;
}
.fejlnav a {
	float: left;
	color:  #f8f8f8;
	text-align: center;
	padding: 2vh 2vw;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	min-width: max-content;

}
.fejlnav a:hover {
	background-color:  #bebebe;
	color:  black;
}
.fejlnav a.aktiv {
	background-color:  #686868;
	color:  white;
}
.szurkehatter{
	background-color: lightgrey;
}
.cim{
	text-align: center;
	text-decoration-line: underline;
	margin: 1rem;
	max-height: 100%;
}
.kozepre{
	text-align: center;
	margin: 1rem;
	max-height: 100%;
}
.grid{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	grid-gap: 2rem;
}
.keret{
	border: 2px solid black;
}
.kep{
	vertical-align: top;
	position: relative;
	display: inline-block;
	height: auto;
	margin: 1rem;
}
.kep img{
	display: block;
}
.kep:hover .effekt{
	opacity: 1;
}
.hatterkerettel{
	vertical-align: top;
	background-color: gray;
	border: 3px solid black;
	border-radius: 2px;
	padding: 0px;
	margin: 2rem;
}
.hatterkerettel img{
	display: block;
}

.hatterkep{
	background-image: url("1fooldal.JPG");
	filter: blur(15px);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.kezdohatterszoveg{
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-weight: bold;
	border: 2px solid white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 40%;
	min-width: max-content;
	height: auto;
	text-align: center;
	padding: 2rem;
}
.kezdohatterszoveg h1{
	font-size: 2rem;
}
.kezdohatterszoveg h2{
	font-size: 1rem;
}
.effekt{
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0, 0.5);
	width: 100%;
	min-width: max-content;
	transition: 0.5s;
	opacity: 0;
	font-size: 1rem; 
	color: white;
	padding: auto;
	text-align: center;
}

.dokumentacio_keret{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: gray; 
	border: 2px solid black;
	border-radius: 10px;
	padding: 1rem;
	width: 80%;
}
.dokumentacio_kep{
	border: 2px solid black;
	border-radius: 10px;
	max-width: 75%;
	max-height: 50%;
}
.dokumentacio_szoveg{
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
	color: white;
}

